* {
  padding: 0;
  margin: 0;
}

.viewport {
    height : 100vh;
    background-color : red;
    display : flex;
    flex : 1;
    flex-direction : column;
    justify-content : center;
    align-items : center;
}

.ticker {
    display : flex;
    flex-direction : column;
    padding : 10px;
    border-radius : 50px;
    background-color : black;
}